@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,900&family=Open+Sans:wght@300;400;700&family=Roboto:wght@100;300;400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
}
.container {
  max-width: 1169px;
  margin: auto;
}
.title {
  font-style: normal;
  font-weight: 800;
  font-size: 32px;
  line-height: 40px;
  color: #111111;
}
.text {
  font-style: normal;
  font-weight: 400;
  color: #000000;
}
.btn {
  background: #75e169;
  border: none;
  border-radius: 5px;
  font-weight: 700;
  font-size: 15px;
  text-transform: uppercase;
  line-height: 15px;
  color: #ffffff;
  cursor: pointer;
}
.btn:hover {
  border: 2px solid #ffffff;
}
.btn:active {
  background: #ffffff;
  border: 2px solid #ffffff;
  color: #67aefc;
}

/* Header */

.header {
  max-width: 100vw;
  min-height: 95px;
  background-color: #67aefc;
}
.main-menu {
  height: inherit;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-logo {
  width: 242px;
  height: 59px;
  margin-top: 18px;
  margin-bottom: 18px;
}
.navigation-menu {
  display: flex;
  width: 560px;
  justify-content: space-between;
  align-items: center;
  color: #fff;
}
.navigation-menu-item {
  font-weight: 600;
  font-size: 16px;
  line-height: 19.5px;
}
.navigation-menu-btn {
  background-color: #75e169;
  width: 170px;
  height: 37.78px;
  font-weight: 700;
  font-size: 15px;
  line-height: 15px;
  color: #fff;
  border-radius: 5px;
  border: none;
  text-transform: uppercase;
}
.banner {
  max-width: 100vw;
  height: 766px;
  background-color: #fff;
  position: relative;
}
.ellipse {
  position: absolute;
  width: 609.5px;
  height: 548px;
  right: 0;
  top: 82px;
}
.small-ellipse {
  position: absolute;
  width: 149px;
  height: 183px;
  left: 0;
  top: 542px;
}
.sphere {
  position: absolute;
  width: 52.57px;
  height: 52.57px;
  top: 120px;
  left: 239px;
}
.wawe {
  position: absolute;
  width: 171px;
  height: 63px;
  left: 63px;
  top: 608px;
}
.cart {
  position: absolute;
  width: 776px;
  height: 613.75px;
  top: 111px;
  right: 100px;
  z-index: 2;
}
.cylinder {
  position: absolute;
  width: 114.03px;
  height: 56.82px;
  top: 92px;
  right: 574.97px;
}
.banner-column {
  height: 766px;
  padding-top: 171px;
}
.banner-title {
  max-width: 550px;
  display: left;
  font-style: normal;
  font-weight: 900;
  font-size: 50px;
  color: #484848;
  z-index: 10;
}
.banner-text {
  width: 432px;
  height: 88px;
  font-size: 16px;
  line-height: 22px;
  margin-top: 20px;
  margin-bottom: 60px;
}
.banner-btn {
  width: 270px;
  height: 60px;
}

/* Main */

.main {
  max-width: 100vw;
}

/* Accordion  */

.main-accordion {
  min-height: 703px;
  background-color: #daecff;
  position: relative;
  padding-top: 120px;
  padding-bottom: 13px;
}
.accordion-bag {
  position: absolute;
  top: 463px;
  right: 145px;
}
.accordion-title {
  /* width: 1000px; */
  height: 105px;
  text-align: center;
  /* margin: auto; */
}
.accordion-item {
  margin-bottom: 10px;
  border-radius: 15px;
  box-shadow: 0 4px 8px 0 rgb(0, 0, 0, 0.25);
  background-color: #ffffff;
  color: #111111;
}
.accordion-item:last-child {
  margin-bottom: 10px;
}
.accordion-item-header {
  padding: 0.5rem 44px 0.5rem 25px;
  height: 61px;
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  position: relative;
  cursor: pointer;
}
.accordion-item-header::before {
  content: "";
  width: 24px;
  height: 24px;
  background: #75e169;
  border-radius: 50%;
  margin-right: 28px;
}
.accordion-item-header.active::before {
  content: "";
  width: 24px;
  height: 24px;
  background: #67aefc;
  border-radius: 50%;
  margin-right: 28px;
}
.accordion-item-header.active > .accordion-header-title img {
  transform: rotate(180deg);
}
.accordion-item-header.active > .accordion-header-title p {
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
}
.accordion-header-title {
  width: 100%;
  align-items: center;
  display: flex;
  font-style: normal;
  font-size: 18px;
  line-height: 32px;
  font-weight: 400;
  justify-content: space-between;
  /* transition: transform 10s ease-in-out .5s; */
}
/* .accordion-item-header::after {
  content: "";
  font-size: 2rem;
  position: absolute;
  right: 44px;
  transition: transform 0.2s ease-in-out;
} */
/* .accordion-item-header.active::after {
  content: "\2212";
  transform: rotate(45deg);
} */
.accordion-item-body {
  /* display: none; */
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}
.accordion-item-body-content {
  padding: 5px 5px 5px 40px;
  margin: 20px 70px 54px 35px;
  line-height: 1.5rem;
  border-left: 1px solid #000000;
}
.accordion-content-item + .accordion-content-item {
  padding-top: 25px;
}

/* Slider */

.stages {
  position: relative;
  max-width: 100vw;
  height: 908px;
  background: #ffffff;
  padding-top: 123px;
  padding-bottom: 128px;
}
.stages-wawe {
  position: absolute;
  width: 190px;
  height: 70px;
  top: 791px;
  right: 186px;
}
.stages-sphere {
  position: absolute;
  width: 67.39px;
  height: 67.39px;
  top: 129px;
  left: 187px;
}
.stages-column {
  width: 680px;
  height: 659px;
  color: #000;
  margin: auto;
}
.stages-title {
  height: 40px;
  margin-bottom: 84px;
}

.slide {
  position: relative;
  border-radius: 15px;
  min-height: 400px;
  display: flex;
  align-items: center;
  padding: 50px;
  overflow: hidden;
}
.slide::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: #ffffff;
}
.slide-text-light {
  border: 2px solid #67aefc;
  color: #000000;
}
.slide-content {
  position: relative;
  max-width: 350px;
  height: 270px;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  margin-right: 10px;
}
.swiper {
  position: relative;
}
.slide-title {
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;

  /* margin-top: 0;
  margin-bottom: 15px; */
}
.slide-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  margin-top: 10px;
  /* margin-bottom: 30px; */
}
.slide-image {
  z-index: 5;
}
.slider-buttons {
  /* position: absolute; */
  /* right: 46px; */
  /* bottom: 40px; */
  /* z-index: 9; */
  display: flex;
  align-items: center;
  width: 150px;
  margin: auto;
  justify-content: space-between;
  margin-top: 84px;
}
.slider-button {
  cursor: pointer;
  border: 2px solid #67aefc;
  border-radius: 15px;
}
.slider-button:hover {
  background: #67AEFC;
}
.slider-button:hover svg circle {
  fill: #67AEFC;
  color: #FFFFFF;
}
.slider-button:hover svg path {
  fill: #FFFFFF;
}

/* Online Stores */

.online-stores {
  position: relative;
  max-width: 100vw;
  height: 1749px;
  background: #daecff;
  padding: 121px 0;
}
.online-stores-wave {
  position: absolute;
  width: 130.96px;
  height: 189.92px;
  top: 301px;
  left: 23px;
}
.online-stores-sphere {
  position: absolute;
  width: 108.44px;
  height: 108.44px;
  top: 1390px;
  right: 122.64px;
}
.online-stores-title {
  width: 509px;
  height: 40px;
  margin-bottom: 13px;
  margin: auto;
}
.online-stores-content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
.online-stores-content-item {
  position: relative;
  /* display: flex; */
  width: 569.03px;
  height: 447px;
  margin-top: 38px;
  cursor: pointer;
  overflow: hidden;
}
.online-stores-content-item::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: #67aefc;
  opacity: 0;
  transition: all 0.4s ease-in-out;
  border-radius: 15px;
}
.online-stores-content-item:hover::before {
  opacity: 1;
}
.online-stores-item-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 15px;
}
.online-store-item-wrapper {
  position: absolute;
  top: 198px;
  right: 190px;
  display: flex;
  flex-flow: column;
  align-items: center;
  /* overflow: hidden; */
}
.online-store-item-wrapper > .online-stores-wrapper-title,
.online-store-item-wrapper > .online-stores-wrapper-text {
  transform: translateY(250px);
  transition: transform 0.4s ease-out;
}
.online-stores-content-item:hover
  > .online-store-item-wrapper
  > .online-stores-wrapper-title,
.online-stores-content-item:hover
  > .online-store-item-wrapper
  > .online-stores-wrapper-text {
  transform: translateY(0);
}
.online-stores-wrapper-title {
  /* width: 191px;
  height: 38px; */
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  color: #ffffff;
}
.online-stores-wrapper-text {
  /* width: 166.71px;
  height: 27.94px; */
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  color: #ffffff;
}

/* More Info */

.more-info {
  position: relative;
  max-width: 100vw;
  max-height: 724px;
  background-color: #ffffff;
  /* padding-top: 216px; */
  z-index: 100;
}
.more-info-orders {
  position: absolute;
  width: 689.51px;
  height: 483px;
  top: -79px;
  right: 144.48px;
}
.more-info-sphere {
  position: absolute;
  width: 59px;
  height: 58px;
  top: -66px;
  left: 153px;
}
.more-info-column {
  padding: 0 20px;
}
.more-info-title {
  width: 630.67px;
  min-height: 40px;
  margin-top: 216px;
}
.more-info-text {
  width: 669.65px;
  min-height: 130px;
  font-size: 18px;
  line-height: 25px;
  margin-top: 53px;
  margin-bottom: 45px;
}
.more-info-btn {
  width: 269.86px;
  height: 60px;
  margin-bottom: 180px;
}

/* Contact Form */

.contact-form {
  position: relative;
  max-width: 100vw;
  max-height: 774px;
  background: #daecff;
  padding-top: 180px;
  padding-bottom: 128px;
}
.contact-form-phone {
  position: absolute;
  width: 206.26px;
  height: 268.03px;
  top: 262px;
  left: 232px;
}
.contact-form-group {
  position: absolute;
  width: 184px;
  height: 144.42px;
  top: 289px;
  right: 405px;
}
.contact-form-column {
  width: 475px;
  height: 506px;
  margin: auto;
  display: flex;
  flex-flow: column;
  /* justify-content: space-between; */
  align-items: center;
}
.contact-form-title {
  width: 320px;
  height: 61px;
}
.contact-form-text {
  width: 479px;
  height: 64px;
  font-size: 18px;
  line-height: 32px;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 27px;
}
.contact-form-content {
  width: 470px;
  height: 304px;
  display: flex;
  flex-flow: column;
  /* justify-content: space-between; */
  align-items: center;
}
.contact-form-input {
  width: 470px;
  height: 58px;
  background: #ffffff;
  border: 1px solid #6eb1fb;
  border-radius: 10px;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #939393;
  padding: 0 14px;
}
.contact-form-input:hover {
  border: 2px solid #67AEFC;
  color: #292929;
}
.contact-form-input:focus {
  outline: none;
}
.contact-form-input + .contact-form-input {
  margin-top: 20px;
}
.contact-form-btn {
  width: 270px;
  height: 60px;
  background: #6bd75f;
  border-radius: 5px;
  color: #f9f9f9;
  margin-top: 30px;
}

/* Footer */

.footer {
  max-width: 100vw;
  max-height: 469px;
  background: #64abf9;
  padding-top: 101px;
  padding-bottom: 79px;
}
.footer-info {
  display: flex;
}
.footer-first-column {
  margin-right: 125.87px;
}
.footer-logo {
  width: 280px;
  height: 66px;
}
.footer-social-media {
  width: 270px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 45.62px;
}
.inst {
  width: 25.28px;
  height: 25.28px;
}
.facebook {
  width: 13.15px;
  height: 25.28px;
}
.telegram {
  width: 27.3px;
  height: 25.28px;
}
.viber {
  width: 23.98px;
  height: 25.28px;
}
.whats-app {
  width: 25.28px;
  height: 25.28px;
}
.footer-second-column {
  width: 382px;
  height: 267px;
  padding-top: 25px;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
}
.footer-contacts-item {
  display: flex;
  margin-bottom: 13px;
}
.footer-contacts-item:last-child {
  margin-bottom: 0px;
}
.footer-contacts-item img {
  width: 21.56px;
  height: 22.5px;
  margin-right: 10px;
}
.footer-contacts-item p {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
}
.footer-rights {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  color: #ffffff;
}
.footer-third-column {
  padding-top: 25px;
  width: 133px;
  height: 24px;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  text-transform: lowercase;
  color: #ffffff;
}

@media screen and (max-width: 1600px) {
  .sphere {
    left: 120px;
  }
  .cart {
    right: 25px;
  }
  .accordion-bag {
    right: 50px;
  }
  .online-stores-wave {
    display: none;
  }
  .online-stores-sphere {
    display: none;
  }
  .more-info-orders {
    width: 505px;
    height: 389px;
    right: 50px;
  }
  .more-info-sphere {
    left: 50px;
  }
  .contact-form-phone {
    width: 206.26px;
    height: 268.03px;
    left: 150px;
  }
  .contact-form-group {
    width: 184px;
    height: 144.42px;
    right: 150px;
  }
}
